<div id="barra-brasil">
  <a title="Acesso à informação" class="ai" href="http://www.acessoainformacao.gov.br" target="_blank">www.sic.gov.br</a>
  <a title="Portal de Estado do Brasil" class="brasilgov" href="http://www.brasil.gov.br">www.brasil.gov.br</a>
</div>
<div id="barra-social">
  <a href="#" class="twitter-bt" target="_blank"><span>Twitter</span></a>
  <a href="#" class="fb-bt" target="_blank"><span>Facebook</span></a>
  <a href="/portal/feed" class="feed-bt" target="_blank"><span>Feed</span></a>
</div>
