<div id="barra-brasil">
  <div class="barra">
    <ul>
      <li><a href="http://www.acessoainformacao.gov.br" class="ai" title="Acesso à informação">www.sic.gov.br</a></li>
      <li><a href="http://www.brasil.gov.br" class="brasilgov" title="Portal de Estado do Brasil">www.brasil.gov.br</a></li>
    </ul>
  </div>
</div>
<div id="barra-social">
  <a href="http://www.twitter.com/secgeralpr" class="twitter-bt" target="_blank"><span>Twitter</span></a>
  <a href="http://www.facebook.com/SecretariaGeralPR" class="fb-bt" target="_blank"><span>Facebook</span></a>
  <a href="/portal/feed" class="feed-bt" target="_blank"><span>Feed</span></a>
</div>
