<li>
  <a href="/portal/sobre">Sobre</a>
</li>
<li>
  <a href="/portal/consulta-de-compromisso">Consulta de compromisso</a>
</li>
<li>
  <a href="/portal/consulta-de-politica">Consulta de política</a>
</li>
<li>
  <a href="/portal/codigo-livre">Código Livre</a>
</li>
<li>
  <a href="/portal/portal-da-participacao">Portal de participação</a>
</li>
<li>
  <a href="/portal/ajuda">Ajuda</a>
</li>
