@import url(../base/style.css);

body {
  background: transparent url(images/bg.png) repeat;
  color: #6F6F6F;
}

#wrap-1 {
  width: 100%;
}

#wrap-2 {
  border: none;
  background-color: transparent;
  width: 960px;
  margin: auto;
}

#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
  background: none;
}

#user {
  top: 20px;
}

#user #top-search {
  display: none;
}

/* * * * * Site title * * * * */

#site-title,
#site-title a {
  width: 300px;
  height: 66px;
}

#site-title {
  left: 10px;
}

#site-title a {
  top: auto;
  left: auto;
}

#logo-ambiente {
  background: transparent url(images/logo-ambiente.png) center center no-repeat;
}

/* * * * * Header * * * * */

#theme-header {
  height: 50px;
}

#barra-brasil {
  position:relative;
  overflow:hidden;
  min-width:1000px;
  background: #004b82 url(images/barra-brasil-v3-bgx.png) center bottom no-repeat;
}

#barra-brasil a,
#barra-brasil a:visited {
  color: #004b82;
}

#barra-brasil .barra {
  display: block;
  width: 960px;
  height:28px;
  margin: 0 auto;
  background: url(images/barra-brasil-v3-bgx.gif) 0 bottom repeat-x;
}

#barra-brasil .barra ul {
  float:right;
  width: 319px;
  margin: 0px;
  list-style: none;
}

#barra-brasil .barra ul li {
  float: left;
  padding-left: 25px;
}

#barra-brasil .ai {
  display: block;
  width: 161px;
  height: 28px;
  text-indent: -1000px;
  background: #004b82 url(images/ai.png) no-repeat 0 4px;
}

#barra-brasil .brasilgov {
  display: block;
  width: 108px;
  height: 28px;
  text-indent: -1000px;
  background: #004b82 url(images/brasil.png) no-repeat 0 4px;
}

#theme-header #barra-social {
  width: 960px;
  margin: 5px auto 0px;
  margin-top: 5px;
  text-align: right;
}

#barra-social a {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
}

#barra-social a:hover {
  box-shadow: 0px 0px 5px #888;
}

#barra-social .twitter-bt {
  background: transparent url(images/bt-twitter.png) center center no-repeat;
}

#barra-social .fb-bt {
  background: transparent url(images/bt-facebook.png) center center no-repeat;
}

#barra-social .feed-bt {
  background: transparent url(images/bt-rss.png) center center no-repeat;
}

#barra-social a span {
  display: none;
}

/* * * * * Navigation * * * * */

#navigation {
  text-transform: uppercase;
  background: none;
}

#navigation-end {
  background: none;
}

#navigation li {
  max-width: 125px;
  width: auto;
}

#navigation a {
  font-size: 14px;
  border-left: none;
  color: #6F6F6F;
  padding: 10px 5px;
  line-height: inherit;
}

#navigation a:hover {
  background: #FFF;
  color: #151515;
}

/* * * * * Portal news * * * * */

.action-home-index #content h1 {
  display: none;
}

#portal-news ul {
  border-top: none;
}

/* * * * * Content * * * * */

#content {
  border-top: 1px dashed #969696;
}

/* * * * * Footer * * * * */

#theme-footer {
  text-transform: uppercase;
  position: relative;
}

#theme-footer a {
  color: #969695;
}

#theme-footer a:hover {
  box-shadow: 0px 0px 5px #888;
  text-decoration: none;
}

#footer-links {
  border-bottom: 1px dashed #969696;
  padding-bottom: 10px;
  float: none;
}

#footer-links a {
  padding-right: 30px;
}

#footer-logos h2 {
  font-size: 12px;
  font-weight: normal;
}

#footer-logos div {
  display: inline-block;
}

#footer-logos div.parceiros {
  width: 35%;
}

#footer-logos a {
  display: block;
  height: 79px;
  float: left;
}

#footer-logos #who-serpro {
  background: transparent url(images/logo-serpro.png) center center no-repeat;
  width: 118px;
}

#footer-logos #who-ps {
  background: transparent url(images/logo-ps.png) center center no-repeat;
  width: 150px;
}

#footer-logos #who-sgpr {
  background: transparent url(images/logo-sgpr.png) center center no-repeat;
  width: 196px;
}

#footer-logos #who-governo {
  background: transparent url(images/logo-governo-federal.png) center center no-repeat;
  width: 225px;
}

#footer-logos span {
  display: none;
}

#footer-logos .realizacao {
  float: right;
}

#footer-code {
  margin-top: 40px;
  text-align: right;
}

#footer-code a {
  display: inline-block;
  height: 30px;
  width: 27px;
  padding: 2px;
}

#footer-code #site-noosfero {
  background: transparent url(images/logo-noosfero.png) center center no-repeat;
}

#footer-code #github-noosfero {
  background: transparent url(images/bt-github.png) center center no-repeat;
  margin-left: 10px;
}

#footer-code span {
  display: none;
}
