@import url(../base/style.css);

body {
  background: transparent url(images/bg.png) repeat;
  color: #6F6F6F;
}

p {
  line-height: 18px;
}

#wrap-1 {
  width: 100%;
}

#wrap-2 {
  border: none;
  background-color: transparent;
  width: 960px;
  margin: auto;
}

#main-content-wrapper-1,
#main-content-wrapper-2,
#main-content-wrapper-3,
#main-content-wrapper-4,
#main-content-wrapper-5,
#main-content-wrapper-6,
#main-content-wrapper-7,
#main-content-wrapper-8 {
  background: none;
}

#user {
  top: 20px;
}

#user #top-search {
  display: none;
}

#terms-of-use-box input[type=checkbox] {
  width: auto;
}

/* * * * * Site title * * * * */

#site-title,
#site-title a {
  width: 388px;
  height: 76px;
}

#site-title {
  left: 0px;
  top: 30px;
}

#site-title a {
  top: auto;
  left: auto;
}

#logo-ambiente {
  background: transparent url(images/logo-ambiente.png) center center no-repeat;
}

/* * * * * Header * * * * */

#theme-header {
  height: 50px;
}

#barra-brasil {
  position:relative;
  overflow:hidden;
  min-width:1000px;
  background: #004b82 url(images/barra-brasil-v3-bgx.png) center bottom no-repeat;
}

#barra-brasil a,
#barra-brasil a:visited {
  color: #004b82;
}

#barra-brasil .barra {
  display: block;
  width: 960px;
  height:28px;
  margin: 0 auto;
  background: url(images/barra-brasil-v3-bgx.gif) 0 bottom repeat-x;
}

#barra-brasil .barra ul {
  float:right;
  width: 319px;
  margin: 0px;
  list-style: none;
}

#barra-brasil .barra ul li {
  float: left;
  padding-left: 25px;
}

#barra-brasil .ai {
  display: block;
  width: 161px;
  height: 28px;
  text-indent: -1000px;
  background: #004b82 url(images/ai.png) no-repeat 0 4px;
}

#barra-brasil .brasilgov {
  display: block;
  width: 108px;
  height: 28px;
  text-indent: -1000px;
  background: #004b82 url(images/brasil.png) no-repeat 0 4px;
}

#theme-header #barra-social {
  width: 960px;
  margin: 5px auto 0px;
  margin-top: 5px;
  text-align: right;
}

#barra-social a {
  height: 16px;
  width: 16px;
  display: inline-block;
  margin-left: 10px;
  padding: 5px;
}

#barra-social a:hover {
  box-shadow: 0px 0px 5px #888;
}

#barra-social .twitter-bt {
  background: transparent url(images/bt-twitter.png) center center no-repeat;
}

#barra-social .fb-bt {
  background: transparent url(images/bt-facebook.png) center center no-repeat;
}

#barra-social .feed-bt {
  background: transparent url(images/bt-rss.png) center center no-repeat;
}

#barra-social a span {
  display: none;
}

/* * * * * Navigation * * * * */

#navigation {
  text-transform: uppercase;
  background: none;
}

#navigation-end {
  background: none;
}

#navigation ul {
  padding-right: 0px;
}

#navigation li {
  max-width: 125px;
  width: auto;
}

#navigation a {
  font-size: 14px;
  border-left: none;
  color: #6F6F6F;
  padding: 10px 5px;
  line-height: inherit;
}

#navigation a:hover {
  background: #FFF;
  color: #151515;
}

/* * * * * Portal news * * * * */

.action-home-index #content h1 {
  display: none;
}

#portal-news ul {
  border-top: none;
}

/* * * * * Home blocks * * * * */

.action-home-index .main-block {
  height: 0px;
}

.action-home-index .display-content-block ul,
.action-environment_design-index .display-content-block ul {
  padding-left: 0px;
}

.action-home-index .display-content-block .destaque-consulta,
.action-environment_design-index .display-content-block .destaque-consulta {
  background-color: #f7e074;
  padding: 15px 10px;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  color: #282828;
  margin: 0px;
}

.action-home-index .display-content-block .destaque-consulta a,
.action-environment_design-index .display-content-block .destaque-consulta a {
  color: #004b82;
}

.action-home-index .display-content-block .destaque-consulta a:hover,
.action-environment_design-index .display-content-block .destaque-consulta a:hover {
  color: #1879BE;
}

/* * * * * Profile blocks * * * * */

.template-nosidebars .boxes {
  margin-top: 30px;
}

.display-content-block .destaque-consulta {
  background-color: #f7e074;
  padding: 10px;
}

.template-nosidebars #content #main-content-wrapper-8 {
  padding-left: 0px;
}

.template-nosidebars #content .block-title {
  color: #444;
  border-bottom: 2px solid #f88021;
  font-weight: normal;
  font-size: 18px;
  padding-bottom: 5px;
}

.template-nosidebars #content .display-content-block {
  display: inline-block;
  width: 65%;
  padding: 7px;
}

.template-nosidebars #content .display-content-block ul {
  padding: 0px;
}

.display-content-block li {
  list-style: none;
}

.template-nosidebars #content .display-content-block + .display-content-block {
  width: 28%;
  vertical-align: top;
}


.template-nosidebars #content .display-content-block + .display-content-block .block-inner-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.template-nosidebars #content .display-content-block h2 {
  font-weight: normal;
  font-size: 33px;
  color: #1879BE;
}

.template-nosidebars #content .display-content-block a,
.template-nosidebars #content .display-content-block a:visited {
  color: #f88021;
  font-weight: bold;
}

.template-nosidebars #content .display-content-block a:hover {
  color: #f85b21;
}


/* * * * * Content * * * * */

#content {
  border-top: 1px dashed #969696;
}

#content .main-block h1, #not-found h1, #access-denied h1,
#content .block-title {
  font-variant: normal;
}

#content .block-title {
  text-transform: uppercase;
}

#content #article-toolbar  h1 {
  color: #151515;
  border-bottom: none;
}

.template-nosidebars #content .main-block {
  border-top: 1px dashed #969696;
  margin-top: 15px;
  padding-top: 10px;
}

#article #addThis {
  position: absolute;
  top: -70px;
}

/* * * * * Comments * * * * */

.comment-wrapper-1,
.comment-wrapper-2,
.comment-wrapper-3,
.comment-wrapper-4,
.comment-wrapper-5,
.comment-wrapper-6,
.comment-wrapper-7,
.comment-wrapper-8,
.comment-from-owner .comment-wrapper-2,
.comment-from-owner .comment-wrapper-3,
.comment-from-owner .comment-wrapper-4,
.comment-from-owner .comment-wrapper-5,
.comment-from-owner .comment-wrapper-6,
.comment-from-owner .comment-wrapper-7,
.comment-from-owner .comment-wrapper-8 {
  background: none;
}

#content #comments_list.comments {
  background-color: #FFF;
  padding: 10px 20px;
}

#content .comments h3 {
  font-variant: normal;
  font-size: 18px;
  color: #ababaa;
  padding-bottom: 15px;
}

#content .comments #page-comment-form {
  margin-top: 20px;
}

#content .comments .comment-info,
#content .comments .comment-created-at {
  font-size: 12px;
}

#content .comments .comment-info {
  color: #f88021;
}

#content .comments .comment-created-at {
  float: left;
  margin-left: 0px;
}

#content .comments h3,
#content .comments .comment-content {
  border-bottom: 1px dashed #DFDFDF;
}

#article .parsed-macro {
  margin-bottom: 20px;
}

#article .parsed-macro .post_comment_box {
  padding: 10px 15px;
  text-align: left;
  background-color: #FFF;
}

#article .parsed-macro .post_comment_box a.display-comment-form {
  color: #ababaa;
  text-decoration: none;
  font-size: 18px;
}

#article .parsed-macro .post_comment_box .display-comment-form:hover {
  color: #555;
  text-decoration: underline;
}

#article .parsed-macro li.article-comment {
  padding: 20px;
}

#article .post_comment_box .button-bar {
  text-align: left;
}

#article .comment-replies .article-comment {
  border: none;
  background: none;
  border-radius: 0px;
  -webkit-border-radius: 0px;
}

#comments_list a.display-comment-form,
#article .comments input.button {
  color: #FFF;
  background: transparent url(images/bt-comment-bg.png) center center repeat-x;
  border: none;
  padding: 2px 10px 5px 10px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  opacity: 0.8;
}

#comments_list a.display-comment-form:hover,
#article .comments input.button:hover {
  opacity: 1;
}

#article .comments .formfield.type-text input,
#article .comments textarea {
  background: #f2f2f2;
  border: none;
  padding: 5px;
}

#content .comments a.button {
  background-color: transparent;
  border: none;
}

#article .post_comment_box input.button {
  font-size: 14px;
  font-weight: bold;
  max-height: none;
}

#article .button-bar .button {
  float: none;
}

#article .post_comment_box .icon-cancel {
  background-image: none;
  color: #ABABAA;
  padding-left: 0px;
  padding-top: 5px;
  display: inline-block;
}

#article .post_comment_box .icon-cancel:hover {
  color: #555;
}

#article .post_comment_box .icon-cancel span {
  margin: 6px;
}

/* * * * * Footer * * * * */

#theme-footer {
  text-transform: uppercase;
  position: relative;
}

#theme-footer a {
  color: #969695;
}

#theme-footer a:hover {
  text-decoration: none;
}

#footer-links {
  border-bottom: 1px dashed #969696;
  padding-bottom: 10px;
  float: none;
}

#footer-links a {
  padding-right: 30px;
}

#footer-logos a:hover,
#footer-code a:hover {
  box-shadow: 0px 0px 5px #888;
}

#footer-logos h2 {
  font-size: 12px;
  font-weight: normal;
}

#footer-logos div {
  display: inline-block;
}

#footer-logos div.parceiros {
  width: 40%;
}

#footer-logos a {
  display: block;
  height: 79px;
  float: left;
}

#footer-logos #who-serpro {
  background: transparent url(images/logo-serpro.png) center center no-repeat;
  width: 118px;
}

#footer-logos #who-ps {
  background: transparent url(images/logo-ps.png) center center no-repeat;
  width: 150px;
}

#footer-logos #who-sgpr {
  background: transparent url(images/logo-sgpr.png) center center no-repeat;
  width: 196px;
}

#footer-logos #who-governo {
  background: transparent url(images/logo-governo-federal.png) center center no-repeat;
  width: 225px;
}

#footer-logos span {
  display: none;
}

#footer-license,
#footer-code {
  margin-top: 10px;
  text-align: right;
}

#footer-license p {
  color: #969695;
}

#footer-license a {
  color: #555;
}

#footer-license a:hover {
  text-decoration: underline;
}

#footer-license p {
  text-transform: none;
}

#footer-license span {
  display: none;
}

#footer-license #cc-by-sa {
  background: transparent url(images/cc-by-sa.png) center center no-repeat;
  display: inline-block;
  width: 88px;
  height: 31px;
}

#footer-license #agpl {
  background: transparent url(images/agpl3.png) center center no-repeat;
  display: inline-block;
  width: 95px;
  height: 40px;
}

#footer-license #site-noosfero {
  background: transparent url(images/logo-noosfero.png) center center no-repeat;
  display: inline-block;
  width: 39px;
  height: 40px;
}

#footer-code a {
  display: inline-block;
  height: 30px;
  width: 27px;
  padding: 2px;
}

#footer-code #site-noosfero {
  background: transparent url(images/logo-noosfero.png) center center no-repeat;
}

#footer-code #github-noosfero {
  background: transparent url(images/bt-github.png) center center no-repeat;
  margin-left: 10px;
}

#footer-code span {
  display: none;
}
